node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=*metro*
public-hoist-pattern[]=@babel/*
public-hoist-pattern[]=cacache*
public-hoist-pattern[]=fs-minipass*
shamefully-hoist=true

